body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.disabledComponent {
  pointer-events: none;
  opacity: 0.3;
  filter: alpha(opacity=30);
}

.scrollMenu {
  overflow-y: scroll;
}

.menuCard {
  padding: 8px;
  border-radius: 10px;
  display: block;
  margin-bottom: 8px;
}

.mlbGames {
  background-color: burlywood;
}

.mlbGames button {
  background-color: dodgerblue;
}

.mlbGames button:hover {
  background-color: darkviolet;
}

.nbaGames {
  background-color: lightcoral;
}

.nbaGames button {
  background-color: royalblue;
}

.nbaGames button:hover {
  background-color: blue;
}

.customGames {
  background-color: floralwhite;
}

.customGames button {
  background-color: mediumorchid;
}

.customGames button:hover {
  background-color: mediumblue;
}

button {
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.backButton {
  background-color: cyan;
}

.backButton:hover {
  background-color: darkmagenta;
}

.checkButton {
  background-color: coral;
}

.checkButton:hover {
  background-color: burlywood;
}

.gameContainer {
  width: 400px;
  margin: 0 auto;
}

td {
  text-align: center;
  padding: 3px;
  word-wrap: break-word;
}

#pastGuesses {
  border-collapse: collapse;
}

#pastGuesses tr {
  border-bottom: 1px solid black;
}

#pastGuesses tr:last-child {
  border-bottom: none;
}

.pastGuessesCol {
  align-items: center;
}

.pastGuessesCol img {
  padding: 3px;
}

.teamYearEntry {
  vertical-align: middle;
  padding: 3px;
}

.teamYearEntry img {
  position: relative;
  top: 50%;
  transform: translateY(+25%);
}

#pastGuesses tbody {
  display: inline-block;
  height: 300px;
}

a.buttonLink {
  padding: 10px;
  border-radius: 10px;
  background-color: navy;
  margin: 5px;
  text-decoration: none;
  color: white;
  display: block;
}

a.buttonLink:hover {
  background-color: red;
}

.solutionPair {
  background-color: azure;
  border-radius: 8px;
  margin: 5px;
}

.solutionPairContainer {
  margin-left: 50px;
  height: 500px;
}

.actions {
  margin-left: 80px;
}

.actions button {
  display: block;
}

#newGame {
  background-color: fuchsia;
}

#newGame:hover {
  background-color: dodgerblue;
}

#hintButton {
  background-color: darkturquoise;
}

#hintButton:hover {
  background-color: turquoise;
}

#solveButton {
  background-color: lightseagreen;
}

#solveButton:hover {
  background-color: palegreen;
}

#selectButton {
  background-color: beige;
}

#selectButton:hover {
  background-color: burlywood;
}

input {
  margin-top: 15px;
  height: 25px;
  width: 150;
  border-radius: 10px;
}

.customImg {
  padding: 10px;
  display: inline-block;
}

.customImg-disabled {
  opacity: 0.3;
  filter: alpha(opacity=30);
  display: inline-block;
  padding: 10px;
  pointer-events: none;
}

.customImg:hover {
  background-color: antiquewhite;
}

#resetCustom {
  background-color: deeppink;
}

#resetCustom:hover {
  background-color: mediumvioletred;
}

#startCustom {
  background-color: gold;
}

#startCustom:hover {
  background-color: violet;
}